*{
    box-sizing: border-box;
}
body{
    background-color: #121212;
}
.post{
    display: flex;
    background-color: white;
    width: 450px;
    flex-direction: column; 
    overflow: hidden;
}
.post .post-header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 5px;
}
.post .information{
    display: block;
}
.post .information p{
float: right;
margin-left: 5px;
margin: 5px;
}
.post .post-img img{
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
.post .post-content-container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 5px
}
.post-info{
    margin-left: 5px;
}
.post-content{
    margin: 5px;
}
