body{
    background-color: #121212;
}
.post{
    display: flex;
    background-color: white;
    width: 470px;
    flex-direction: column; 
}
.post-header{
   display: flex;
    flex-direction:row;
    width: 100%;
}
.post-action-menu{
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
}
.post-control{
    display:flex;
    flex-direction:row;
}